{% extends 'main/base.html' %}
{% load static %}
{% block title %} ¿Quienes somos? {% endblock %}
{% block content%}

<section class="foto_about">
  <div class="container">
    <div class="content-center">
      <h1 style="font-size: 50px;font-weight: bold; margin-top: 170px;">Believe in our Houses</h1>
    </div>
  </div>
</section>

<section id="info" class="content-center" >
  <div class="container">
    <div>
      <h1 style="text-align: center;">¿Quienes somos?</h1>
      <p style="text-align: center;">Believe in Our Houses es una empresa dedicada a la venta y fabricación de Casas prefabricadas ofreciendo            
        a nuestros clientes una amplia gama de alternativas cuando de calidad se trata, diseños modernos a un 
        precio razonable, tu futura casa puede estar a solo 2
        clicks de ti.
      </p>
    </content-center>
  </div>
</section> 


{% endblock content%}