{% extends 'main/base.html' %}
{% load static %}
{% block content%}
<section class="foto_principal">
  <div class="container">
    <div class="content-center" style="margin-top: 150px;">
      <h1 style="font-size: 70px;">Bienvenido</h1><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci iusto exercitationem fuga at illum nesciunt laboriosam earum commodi quibusdam sed quia, qui nobis modi illo inventore nam minus. Dolore, obcaecati.</p> 
    </div>
  </div>
 
</section>

<section id="info">
  <div class="container">
    <div>
      <h1 style="text-align: center;">Nuestras casas mas destacadas</h1>
      <p style="text-align: center;">Te presentamos los 4 modelos mas destacados de nuestro trabajo.
        <br>Estos nos representan como equipo de trabajo debido a su gran calidad,<br> estructura y base de cada obra.
        Si estas interezado puedes contactarnos, no pierdas la oportunidad de tener la casa de tus sueños.

      </p>
    </content-center>
  </div>
</section> 
<section id="fotos_home">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/casa6.jpg'%}" class="card-img-top" style="height: 178px;">
    <div class="card-body">
      <p style="font-size: medium;">Hermosa cabaña hecha de madera de arce, dos pisos de comodidad con sus 4 dormitorios y 2 baños. Exelente para vacacionar.</p>
      <ul>
        <li>Precio: </li>
        <li>Materiales: Madera de arce, hormigon y ceramicas </li>
        <li>Metros cuadrados: 80</li>
        <li>Estilo: Rural</li>
      </ul>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/casa7.jpg'%}" class="card-img-top" style="height: 178px;">
    <div class="card-body">
      <p style="font-size: medium;">Hecha de madera de arce, dos pisos, 3 piezas y 1 baño. Si buscas comodidad y simplicidad para tus vacaciones, esta es tu cabaña.</p>
      <ul>
        <li>Precio: </li>
        <li>Materiales: Madera de arce, hormigon y ceramicas </li>
        <li>Metros cuadrados: 80 </li>
        <li>Estilo: Rural</li>
      </ul>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/casa.jpeg'%}" class="card-img-top" style="height: 178px;">
    <div class="card-body">
      <p style="font-size: medium;">Vive con elegancia con esta casa con arquitectura minimalista y su amplio garage. Comodidad para la urbanidad. </p>
      <ul>
        <li>Precio: </li>
        <li>Materiales: Madera de roble, loza, ceramicas y cemento </li>
        <li>Metros cuadrados: 120</li>
        <li>Estilo: Moderna </li>
      </ul>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/casa2.jpg'%}" class="card-img-top" style="height: 178px;">
    <div class="card-body">
      <p style="font-size: medium;">¿Una parcela elgante? Si, hemos hecho esta casa especialmente pensada para una gran familia que quiera vivir en las afueras de las ciudades.</p>
      <ul>
        <li>Precio: </li>
        <li>Materiales: Madera de roble, loza, ceramicas y cemento </li>
        <li>Metros cuadrados: 150</li>
        <li>Estilo: Moderna </li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}