{% extends 'main/base.html' %}
{% load static %}
{% block content%}
<section class="banner-medidas">
  <div class="container">
    <div class="content-center">
      <h1 style="font-size: 50px;font-weight: bold; margin-top: 220px;">Modelos a medida</h1>
    </div>
  </div>
</section>
<section id="info">
  <div class="container">
    <div class="content-center">
      <h1>Crea la casa de tus sueños</h1>
      <p>En este apartado pondras las condiciones para la realizacion de tu casa, decide cuantas piezas y baños deseas
        tener y te mostraremos el precio.</p>
    </div>
  </div>
</section>

<section id="Contacto" class="content-center">
  <div class="container-medidas" style="border: 1px; border-color: black;">
    <h4>Completar</h4>
    <hr>
    <form method="GET">
      <div class="form-group">
        <label for="n_habitaciones">Número de habitaciones</label>
        <select class="form-control" id="n_habitaciones" name="n_habitaciones">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <div class="form-group">
        <label for="n_baños">Número de baños</label>
        <select class="form-control" id="n_baños" name="n_baños">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div id="botoncito">
        <button type="submit" class="btn btn-primary" style="margin-top: 100px;">Confirmar</button>
      </div>
    </form>
  </div>
  <div class="cuadradoMap">
    <h4>Resultado</h4>
    <hr>
    {% if casa == '4-2' %}
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/casapre1.jpg'%}" class="card-img-top" style="height: 178px;">
      <div class="card-body">
        <p style="font-size: medium;">Casa compuesta por madera de roble acceso por puertas frontal y puertas traseras 4 Habitaciones y 2 baños.</p>
        <ul>
          <li>Precio: 500 UF </li>
          <li>Materiales: Madera de roble,ceramicas y cemento </li>
          <li>Metros: 160<sup>2</sup></li>
          <li>Estilo: Rustica </li>
        </ul>
      </div>
    </div>
    {% elif casa == '4-1' %}
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/casapre2.jpg'%}" class="card-img-top" style="height: 178px;">
      <div class="card-body">
        <p style="font-size: medium;">Casa compuesta por Madera de ABETO techo cubierto por tejas de Alerce acceso por puerta frontal 4 Habitaciones y 1 Baño.</p>
        <ul>
          <li>Precio: 750.50 UF </li>
          <li>Materiales: Madera de Abeto,tejas Alerce y cemento </li>
          <li>Metros: 120<sup>2</sup></li>
          <li>Estilo: Cabaña </li>
        </ul>
      </div>
    </div>
    {% elif casa == '3-2' %}
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/casapre3.jpg'%}" class="card-img-top" style="height: 178px;">
      <div class="card-body">
        <p style="font-size: medium;">¿Una parcela elegante? Esta es tu mejor opcion, 2 pisos con un gran ventanal fabricada a base de Concreto, 3 Habitaciones y 2 Baños, acceso a una gran cocina y un amplio living.</p>
        <ul>
          <li>Precio: 5.848.89 UF </li>
          <li>Materiales: Concreto, loza, ceramicas </li>
          <li>Metros: 120<sup>2</sup></li>
          <li>Estilo: Moderna </li>
        </ul>
      </div>
    </div>
    {% elif casa == '3-1' %}
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/casa2.jpg'%}" class="card-img-top" style="height: 178px;">
      <div class="card-body">
        <p style="font-size: medium;">Casa a base de Concreto, amplio ventanal con vista sobre el patio y hacia la calle,Tejas de arcilla, 1 solo piso,posee 3 Habitaciones y 1 Baño.</p>
        <ul>
          <li>Precio: 6.808.89 UF </li>
          <li>Materiales: Concreto, Arcilla y ceramicas </li>
          <li>Metros: 110<sup>2</sup></li>
          <li>Estilo: Moderna </li>
        </ul>
      </div>
    </div>
    {% elif casa == '2-2' %}
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/casapre4.jpg'%}" class="card-img-top" style="height: 178px;">
      <div class="card-body">
        <p style="font-size: medium;">Casa a base de Concreto Blanco, posee variados ventanales en diferentes posiciones de la casa,  casa de 2 pisos, posee 1 piscina, 2 Habitaciones y 2 Baños.</p>
        <ul>
          <li>Precio: 7.600.89 UF </li>
          <li>Materiales: Concreto y Ceramicas </li>
          <li>Metros: 140<sup>2</sup></li>
          <li>Estilo: Moderna </li>
        </ul>
      </div>
    </div>
    {% elif casa == '2-1' %}
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/casapre5.jpeg'%}" class="card-img-top" style="height: 178px;">
      <div class="card-body">
        <p style="font-size: medium;">Casa a base de madera de Caoba,acceso por puerta frontal y lateral, 2 Habitaciones y 1 Baño.</p>
        <ul>
          <li>Precio: 1800.89 UF </li>
          <li>Materiales: Madera de roble, loza, ceramicas y cemento </li>
          <li>Metros: 150<sup>2</sup></li>
          <li>Estilo: Moderna </li>
        </ul>
      </div>
    </div>
    {% elif casa == '1-2' %}
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/casapre6.jpg'%}" class="card-img-top" style="height: 178px;">
      <div class="card-body">
        <p style="font-size: medium;">Una casa mas que perfecta para una persona solitaria, fabricada a base de madera de Abeto, posee 1 Habitacion y 2 Baños.</p>
        <ul>
          <li>Precio: 1388.89 UF </li>
          <li>Materiales: Madera de roble y lozas </li>
          <li>Metros: 100<sup>2</sup></li>
          <li>Estilo: Rustica </li>
        </ul>
      </div>
    </div>
    {% elif casa == '1-1' %}
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/casapre7.jpg'%}" class="card-img-top" style="height: 178px;">
      <div class="card-body">
        <p style="font-size: medium;">Una casa pequeña pero comoda, hecha a base de madera de Cedro, posee 1 Habitacion y 1 Baño.</p>
        <ul>
          <li>Precio: 1.108.89 UF </li>
          <li>Materiales: Madera de Cedro,ceramicas y cemento </li>
          <li>Metros: 120<sup>2</sup></li>
          <li>Estilo: Moderna </li>
        </ul>
      </div>
    </div>
    {% elif casa == '' %}
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/casa2.jpg'%}" class="card-img-top" style="height: 178px;">
      <div class="card-body">
        <p style="font-size: medium;"></p>
        <ul>
          <li>Precio: 0 UF </li>
          <li>Materiales:  </li>
          <li>Metros: <sup>2</sup></li>
          <li>Estilo:  </li>
        </ul>
      </div>
    </div>

    {% endif %}
  </div>
</section>
{% endblock content%}