{% extends 'main/base.html' %}
{% load static %}
{% block content%}
<section class="banner-metraje">
  <div class="container">
    <div class="content-center">
      <h1 style="font-size: 50px;font-weight: bold; margin-top: 220px;">Modelos a metraje</h1>
    </div>
  </div>
</section>

<section id="info">
  <div class="container">
    <div class="content-center">
      <h1>Crea la casa de tus sueños</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, incidunt nisi quo magnam cupiditate aspernatur, sed facilis saepe tenetur, quaerat itaque minima magni repellendus sit! Ea in nihil neque culpa?</p>
    </div>
  </div>
</section>

<section id="Contacto" class="content-center">
  <div class="container-medidas" style="border: 1px; border-color: black;">
    <h4>Completar</h4>
    <hr>
    <form method="GET">
      <div>
        <label for="inputZip">Metros cuadrados deseados</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div id="botoncito">
        <button type="submit" class="btn btn-primary" style="margin-top: 100px;">Confirmar</button>
      </div>
    </form>
  </div>
  <div class="cuadradoMap">
    <h4>Resultado</h4>
    <hr>
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/casa2.jpg'%}" class="card-img-top" style="height: 178px;">
      <div class="card-body">
        <p style="font-size: medium;">¿Una parcela elgante? Si, hemos hecho esta casa especialmente pensada para una gran familia que quiera vivir en las afueras de las ciudades.</p>
        <ul>
          <li>Precio: 13.848.89 UF </li>
          <li>Materiales: Madera de roble, loza, ceramicas y cemento </li>
          <li>Metros: 150<sup>2</sup></li>
          <li>Estilo: Moderna </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock content%}